@font-face {
	font-family: "TTNorms-Bold";
	src: url("../fonts/TTNorms-Bold/TTNorms-Bold.eot");
	src: local('☺'), url("../fonts/TTNorms-Bold/TTNorms-Bold.woff") format('woff'), url("../fonts/TTNorms-Bold/TTNorms-Bold.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Light";
	src: url("../fonts/TTNorms-Light/TTNorms-Light.eot");
	src: local('☺'), url("../fonts/TTNorms-Light/TTNorms-Light.woff") format('woff'), url("../fonts/TTNorms-Light/TTNorms-Light.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Medium";
	src: url("../fonts/TTNorms-Medium/TTNorms-Medium.eot");
	src: local('☺'), url("../fonts/TTNorms-Medium/TTNorms-Medium.woff") format('woff'), url("../fonts/TTNorms-Medium/TTNorms-Medium.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TTNorms-Regular";
	src: url("../fonts/TTNorms-Regular/TTNorms-Regular.eot");
	src: local('☺'), url("../fonts/TTNorms-Regular/TTNorms-Regular.woff") format('woff'), url("../fonts/TTNorms-Regular/TTNorms-Regular.ttf") format('truetype');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}
