main
    .banner-main
        .banner-main__item
            .banner-main__title 
                |Любая справка 
                span за 30 минут <br>
                i быстро, официально, недорого
        
            ul.banner-main__list
                li 
                    |-
                    a(href='#') Справка в ГИБДД, 
                    a(href="#") справка на оружие, 
                    a(href="#") на работу, 
                    a(href="#") учебу
                li    
                    |-
                    a(href='#') Водительская медкомиссия, 
                    a(href="#") профосмотры, 
                    a(href="#") медкнижки
            
            form.recept-form(action="#")
                .recept-form__title Онлайн запись комиссию
                .custom-select
                    select
                        option Медсправка водительская 003-В/у
                        option Тест 1
                        option Тест 2
                        option Тест 3
                input(type="text" placeholder="Ваше имя").form-inp.form-inp_name
                input(type="text" placeholder="Номер телефона").form-inp.form-inp_phone
                .recept-form__btn
                    button.btn(type="submit") Записаться на прием
                .privacy
                    a(href="#") Нажимая на кнопку «Записаться на прием», вы принимаете условия 
                    span передачи 
                    |и 
                    span обработки информации           
    .container
        .reference
            h1.main-title Медицинские справки в Москве
            .main-text
                p Наша клиника осуществляет оформление медицинских справок в Москве для ГИБДД, на приобретения оружия, на пропуск к плаванию в бассейне, о профпригодности и др. Медосмотр для получения необходимой медицинской справки 2019 года проводится в удобное для клиента время. Современная клиника, оснащенная новейшим оборудованием, позволяет провести любые медицинские исследования и анализы в оперативном порядке.
                p С нами работают высококвалифицированные врачи и специалисты, которые проведут медицинский осмотр максимально оперативно и недорого.
            
            .slider-wrap
                .ref-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-1.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку        
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-2.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку  
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-3.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку  
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-4.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку
                    .swiper-pagination  
                .swiper-button-next.ref-next
                .swiper-button-prev.ref-prev                        
                        
                
