main
    .banner-main
        .banner-main__item
            .banner-main__title 
                |Любая справка 
                span за 30 минут <br>
                i быстро, официально, недорого
        
            ul.banner-main__list
                li 
                    |-
                    a(href='#') Справка в ГИБДД, 
                    a(href="#") справка на оружие, 
                    a(href="#") на работу, 
                    a(href="#") учебу
                li    
                    |-
                    a(href='#') Водительская медкомиссия, 
                    a(href="#") профосмотры, 
                    a(href="#") медкнижки
            
            form.recept-form(action="#")
                .recept-form__title Онлайн запись комиссию
                .custom-select
                    select
                        option Медсправка водительская 003-В/у
                        option Тест 1
                        option Тест 2
                        option Тест 3
                input(type="text" placeholder="Ваше имя").form-inp.form-inp_name
                input(type="text" placeholder="Номер телефона").form-inp.form-inp_phone
                .recept-form__btn
                    button.btn(type="submit") Записаться на прием
                .privacy
                    a(href="#") Нажимая на кнопку «Записаться на прием», вы принимаете условия 
                    span передачи 
                    |и 
                    span обработки информации           
    .container
        .reference
            h1.main-title Медицинские справки в Москве
            .main-text
                p Наша клиника осуществляет оформление медицинских справок в Москве для ГИБДД, на приобретения оружия, на пропуск к плаванию в бассейне, о профпригодности и др. Медосмотр для получения необходимой медицинской справки 2019 года проводится в удобное для клиента время. Современная клиника, оснащенная новейшим оборудованием, позволяет провести любые медицинские исследования и анализы в оперативном порядке.
                p С нами работают высококвалифицированные врачи и специалисты, которые проведут медицинский осмотр максимально оперативно и недорого.
            
            .slider-wrap
                .ref-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-1.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку        
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-2.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку  
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-3.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку  
                        .swiper-slide
                            .ref-slider__item
                                .ref-slider__img
                                    img(src="img/sl-4.jpg" alt="Медсправка водительская 003-В/у" width="370" height="244")
                                    .time-block
                                        .time-block__item от
                                        .time-block__item 30
                                        .time-block__item мин
                                .ref-slider__link
                                    a(href="#") Медсправка водительская 003-В/у
                                .ref-slider__title Специалисты водительской комиссии:
                                ul.ref-slider__list
                                    li – врач-терапевт или врач общей практики
                                    li – врач-офтальмологом (окулист)
                                    li – врач-психиатр
                                    li – врач-нарколог
                                .ref-slider__bottom
                                    .ref-slider__price 
                                        |2500 
                                        span руб.
                                    .ref-slider__btn
                                        button(type="button").cont-btn Оформить справку
                    .swiper-pagination  
                .swiper-button-next.ref-next
                .swiper-button-prev.ref-prev                        
        
    .rent
        .rent__item
            .rent__ref
                .rent__img
                    img(src="img/doc.jpg" width="254" height="358" alt="получить нужную справку просто")
                .rent__block 
                    p Получить нужную справку просто!
                    span 
                        |Медсправка через 
                        i 30 мин
                    .rent__btn
                        button(type="button").cont-btn Оформить справку    
                       

        .rent__item
            ul.rent-iphone
                li 
                    .rent-iphone__item Сколько стоит сделать справку для ГИБДД?
                    .rent-iphone__author Вы
                li 
                    .rent-iphone__item Стоимость справки зависит от категории ваших прав
                    .rent-iphone__author МЕДСПРАВКИ №1
                li 
                    .rent-iphone__item Нужно ли проходить осмотр у психиатра и нарколога?
                    .rent-iphone__author Вы
                li 
                    .rent-iphone__item Прохождение специалистов по месту жительства
                    .rent-iphone__author МЕДСПРАВКИ №1

        .rent__item
            ol.rent-stage
                li
                    .rent-stage__title Ваши контактные данные
                    span Вводите в форму данные ваши<br> контактные данные (имя, телефон)
                li
                    .rent-stage__title Категория медсправки
                    span Выберите категорию медсправки которую необходимо вам получить
                li
                    .rent-stage__title Запишитесь на медосмотр
                    span Запишитесь на удобное для вас время для прохождения специалистов в нашем медицинском центре
                li
                    .rent-stage__title Готово!
                    span Менеджер свяжется с вами и уточнит все детали по вашей заявке
                    .rent-stage__data
                        a(href="tel:78005114026").rent-stage__phone 8 (800) 511 40 26
                        .rent-stage__worktime Звоните ежедневно 24/7
    
    .container
        .price-block
            h2.main-title Стоимость медсправок
            
            
            .tabs
                a(href="#tab1") Медицинские справки
                a(href="#tab2") Медицинские книжки
            
            .tab-block#tab1
                table.price-table(cellspacing="0")                        
                    thead.thead-mob
                        tr
                            td(colspan="4") Наименование медсправки
                            td Цена
                            td Время медкомиссии
                            td
                    thead.thead-desc
                        tr
                            td Наименование медсправки
                            td Цена
                            td Время медкомиссии
                            td            
                    tbody
                        tr
                            td
                                a(href="#") Медсправка водительская 003-В/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Медсправка на оружие 002-О/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Справка на работу 086/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td 
                                a(href="#") Справка на госслужбу 001 гс/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Медсправка водительская 003-В/у 
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку   
            .tab-block#tab2
                table.price-table(cellspacing="0")                        
                    thead.thead-mob
                        tr
                            td(colspan="4") Наименование медсправки
                            td Цена
                            td Время медкомиссии
                            td
                    thead.thead-desc
                        tr
                            td Наименование медсправки
                            td Цена
                            td Время медкомиссии
                            td            
                    tbody
                        tr
                            td
                                a(href="#") Медсправка водительская 003-В/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Медсправка на оружие 002-О/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Справка на работу 086/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td 
                                a(href="#") Справка на госслужбу 001 гс/у
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку
                        tr        
                            td
                                a(href="#") Медсправка водительская 003-В/у 
                            td 2100 &#8381; 
                            td от 30 мин
                            td 
                                button(type="button").cont-btn Оформить справку   
    
    .popular.container
        h2.main-title Популярные медсправки
        .main-text
            p Наша клиника осуществляет оформление медицинских справок в Москве для ГИБДД, на приобретения оружия, на пропуск к плаванию в бассейне, о профпригодности и др. Медосмотр для получения необходимой медицинской справки 2019 года проводится в удобное для клиента время. Современная клиника, оснащенная новейшим оборудованием, позволяет провести любые медицинские исследования и анализы в оперативном порядке.
            
            ul.content-list
                li 
                    a(href="#") Медсправка водительская
                li
                    a(href="#") Медсправка на оружие
                li 
                    a(href="#") Медсправка на работу
                li
                    a(href="#") Медсправка водительская
                li
                    a(href="#") Медсправка водительская
                li
                    a(href="#") Медсправка водительская
                li 
                    a(href="#") Медсправка водительская
                li
                    a(href="#") Медсправка на оружие
                li 
                    a(href="#") Медсправка на работу
                li 
                    a(href="#") Медсправка водительская
                li
                    a(href="#") Медсправка на оружие
                li 
                    a(href="#") Медсправка на работу
        
    .slider-wrap.container
        h2.main-title Лицензии медицинского центра
        .lissence-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .lissence-slider__img
                        img(src="img/doc.jpg")
                .swiper-slide
                    .lissence-slider__img
                        img(src="img/doc.jpg")
                .swiper-slide
                    .lissence-slider__img
                        img(src="img/doc.jpg")
                .swiper-slide
                    .lissence-slider__img
                        img(src="img/doc.jpg")
                .swiper-slide
                    .lissence-slider__img
                        img(src="img/doc.jpg")
            .swiper-pagination  
        .swiper-button-next.lis-next
        .swiper-button-prev.lis-prev
                        
    .about-moscow.container
        h2.main-title Медицинские справки в Москве
        .main-text
            p Наша клиника осуществляет оформление медицинских справок в Москве для ГИБДД, на приобретения оружия, на пропуск к плаванию в бассейне, о профпригодности и др. Медосмотр для получения необходимой медицинской справки 2019 года проводится в удобное для клиента время. Современная клиника, оснащенная новейшим оборудованием, позволяет провести любые медицинские исследования и анализы в оперативном порядке. 
            
            p С нами работают высококвалифицированные врачи и специалисты, которые проведут медицинский осмотр максимально оперативно и недорого. 
            
            p Наша клиника осуществляет оформление медицинских справок в Москве для ГИБДД, на приобретения оружия, на пропуск к плаванию в бассейне, о профпригодности и др. Медосмотр для получения необходимой медицинской справки 2019 года проводится в удобное для клиента время. Современная клиника, оснащенная новейшим оборудованием, позволяет провести любые медицинские исследования и анализы в оперативном порядке.
            
            p С нами работают высококвалифицированные врачи и специалисты, которые проведут медицинский осмотр максимально оперативно и недорого.
            
            ul.content-list
                li Терапевт
                li Хирург
                li Нарколог
                li Терапевт
                li Хирург
                li Нарколог
                li Терапевт
                li Хирург
                li Нарколог
                
    
    .request
        .container
            .request__logo
                img(src="img/logo.png" width="145" height="81")
            .wooman
                img(src="img/wooman.png" width="456" height="475" alt="Справка через 30 минут")        
            .request__title Отправьте заявку - нужная справка через 30 минут
            .request__inner
                .request__item
                    .request__advantage 
                        span Наши цены на медсправки всегда ниже чем у конкурентов на 10%
                    .request__block
                        .column
                            .custom-select.request__select
                                select
                                    option Какая справка вам нужна?
                                    option Тест 1
                                    option Тест 2
                                    option Тест 3
                        .column    
                            input(type="text" placeholder="Ваше имя").form-inp.form-inp_name.request__inp
                        .column
                            input(type="text" placeholder="Номер телефона").form-inp.form-inp_phone.request__inp
                            
                    textarea(placeholder="Комментарий...").textarea
                        
                .request__item                        
                    button.btn(type="submit").request__btn Записаться на комиссию
            .privacy.request__privacy
                a(href="#") 
                    |Нажимая на кнопку "Записаться на комиссию" я принимаю условия, даю согласие 
                    span на обработку персональных данных          
    .map#map                             
                            
