footer.footer
    .footer__block
        .footer__item
            .footer__logo
                img(src="img/logo.png" alt="медсправки")
            ul.footer__data
                li
                    a(href="tel:88005114026").phone.phone_footer 8 (800) 511-40-26
                li
                    span.adress Москва, Авиамоторная, 24
            ul.adress-list.adress-list__footer
                li м. Таганская
                li м. Ленинский пр-т
                li м. Авиамоторная
                li м. Братиславская 
                        
        .footer__item
            .footer__title.footer__title_line Медсправки
            .footer__inner
                ul.footer__link
                    li
                        a(href="#") Медсправка водительская
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Медсправка на учебу
                    li
                        a(href="#") Медсправка на работу
                    li
                        a(href="#") Медсправка на госслужбу
                    li
                        a(href="#") Медсправка в ГИБДД
                    li
                        a(href="#") Водительская комиссия
                        
                ul.footer__link
                    li
                        a(href="#") Медсправка водительская
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Медсправка на учебу
                    li
                        a(href="#") Медсправка на работу
                    li
                        a(href="#") Медсправка на госслужбу
                    li
                        a(href="#") Медсправка в ГИБДД
                    li
                        a(href="#") Водительская комиссия
                        
                ul.footer__link
                    li
                        a(href="#") Медсправка водительская
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Медсправка на учебу
                    li
                        a(href="#") Медсправка на работу
                    li
                        a(href="#") Медсправка на госслужбу
                    li
                        a(href="#") Медсправка в ГИБДД
                    li
                        a(href="#") Водительская комиссия
        .footer__item
            .footer__title Информация
            ul.footer__link
                li
                    a(href="#") О компании
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Наши услуги
                li
                    a(href="#") Прайс-лист
                li
                    a(href="#") Контакты
                                    
        .footer__item
            .footer__lisence
                |Лицензия <br>№ Л0-77-О1-ОО7951 <br>департамента <br>здравоохранения <br>города Москвы
                
        .footer__item
            .copyright 2019 © МЕДСПРАВКИ №1
            .capcha 
                img(src="img/capcha.jpg")
        



//- include ./footer-modals.pug
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js")
script(src="libs/maskedinput/jquery.maskedinput.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js")
script(class="new-map" async)
script(src="js/common.js")
