@import "import/reset";
@import "import/fonts";

.content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.main-title {
    font-family: "TTNorms-Bold";
    color: #122C91;
    font-size: 32px;
    text-align: center;
    margin-bottom: 26px;
    @media(max-width: 991px) {
        font-size: 24px;
    }
}

.main-text p {
    color: #6D7286;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 24px;
    @media(max-width: 991px) {
        font-size: 18px;
    }
}

.container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    @media(max-width: 1279px) {
        background: #2A6FDB;
        padding: 6px 16px;
    }
}

.header__left {
    display: flex;
    align-items: center;
    @media(min-width: 992px) and (max-width: 1279px) {
        width: 100%;
    }
    @media(min-width: 1280px) {
        max-width: 1344px;
        width: 100%;
        background: #1F48AE;
        padding: 18px 24px 24px;
        justify-content: space-between;
        position: relative;
    }
    @media(min-width: 1600px) {
        &:after {
            content: '';
            position: absolute;
            right: -31px;
            top: 0;
            width: 32px;
            height: 100%;
            background: url("../img/el-bg.png") no-repeat center;
            background-size: contain;
        }
    }
}

.license {
    display: flex;
}

.license__img {
    width: 90px;
    margin-right: 13px;
}

.license__article {
    font-family: "TTNorms-Medium";
    width: 147px;
    font-size: 14px;
    color: #AECBFA;
    line-height: 19px;
}

.main-nav__list {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    li {
        &:not(:last-child) {
            margin-right: 50px;
            @media(max-width: 1599px) {
                margin-right: 20px;
            }
            @media(min-width: 1600px) and (max-width: 1900px) {
                margin-right: 30px;
            }
        }
    }

    a {
        font-family: "TTNorms-Medium";
        font-size: 16px;
        color: #AECBFA;
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
        @media(min-width: 1366px) and (max-width: 1844px) {
            font-size: 13px;
        }

        &:hover {
            border-bottom: 1px solid rgba(133, 180, 255, 0.47);
        }
    }
}

.header__search {
    max-width: 792px;
    width: 100%;
    @media(max-width: 991px) {
        display: none;
    }
    @media(max-width: 1279px) {
        padding-left: 50px;
    }
    @media(min-width: 1280px) and (max-width: 1365px) {
        max-width: 530px;
    }
    @media(min-width: 1366px) and (max-width: 1599px) {
        max-width: 430px;
    }
    @media(min-width: 1600px) and (max-width: 1845px) {
        max-width: 524px;
    }
}

.search {
    font-family: "TTNorms-Medium";
    width: 100%;
    height: 52px;
    padding-left: 23px;
    padding-right: 55px;
    border: none;
    background: rgba(133, 180, 255, 0.47) url("../img/search-icon.png") no-repeat right 28px center;
    border-radius: 5px;
    color: #AECBFA;
    font-size: 20px;
}

.header__right {
    display: flex;
    align-items: center;
    @media(min-width: 1280px) {
        max-width: 576px;
        width: 100%;
        background: #2A6FDB;
        padding: 0 24px 0 60px;
        justify-content: space-between;
    }
    @media(min-width: 1280px) and (max-width: 1365px) {
        max-width: 240px;
        padding: 24px 10px;
        justify-content: center;
    }
    @media(min-width: 1366px) and (max-width: 1599px) {
        max-width: 430px;
        align-items: center;
        padding: 0 24px;
    }
}

.adress-list {
    font-family: "TTNorms-Medium";
    color: white;
    font-size: 16px;
    position: relative;
    @media(min-width: 1600px) {
        padding: 21px 0 21px 17px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 29px;
            height: 100%;
            background: url("../img/line.png") no-repeat center;
            z-index: 1;
        }
    }

    li {
        position: relative;
        padding-left: 24px;
        @media(min-width: 1600px) {
            &:nth-child(1) {
                margin-left: 2px;
            }

            &:nth-child(2) {
                margin-left: 7px;
            }

            &:nth-child(3) {
                margin-left: 6px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 8px;
            height: 8px;
            background: white;
            z-index: 10;
            border-radius: 10em;
        }

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.adress-list__footer {
    padding: 21px 0 21px 17px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 29px;
        height: 100%;
        background: url("../img/line.png") no-repeat center;
        z-index: 1;
    }

    li {
        &:nth-child(1) {
            margin-left: 2px;
        }

        &:nth-child(2) {
            margin-left: 7px;
        }

        &:nth-child(3) {
            margin-left: 6px;
        }
    }
}

.adress-list_header {
    @media(max-width: 1365px) {
        display: none;
    }
}

.phone {
    font-family: "TTNorms-Bold";
    font-size: 28px;
    color: white;
    @media(max-width: 1279px) {
        font-size: 16px;
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 20px;
    }
}

.header__logo {
    width: 80px;

    img {
        display: block;
    }
    @media(min-width: 375px) {
        width: 126px;
    }
    @media(min-width: 1280px) {
        width: 145px;
    }
}

.header__info {
    font-family: "TTNorms-Medium";
    @media(max-width: 1279px) {
        text-align: right;
        line-height: 18px;
    }
    @media(min-width: 1600px) {
        padding-top: 6px;
    }

    span {
        color: #AECBFA;
    }

    li {
        &:nth-child(2) {
            @media(min-width: 1280px) {
                margin-bottom: 8px;
            }

            span {
                font-family: "TTNorms-Bold";
                font-size: 15px;
                text-transform: uppercase;
                @media(max-width: 1599px) {
                    font-size: 12px;
                }
            }
        }

        &:last-child {
            font-size: 16px;
        }
    }
}

.header__bottom {
    background: #DEEBFF;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.services-list {
    max-width: 1688px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    a {
        font-family: "TTNorms-Bold";
        color: #122C91;
        display: inline-block;
        font-size: 18px;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        @media(min-width: 1600px) {
            margin-left: 50px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
            }
        }

        &:hover {
            border-bottom: 1px solid rgba(42, 111, 219, 0.6);
        }
    }
}
@media(min-width: 1600px) {
    .drive-ref:after {
        background: url("../img/car-icon.png") no-repeat center;
    }

    .gun-ref:after {
        background: url("../img/gun-icon.png") no-repeat center;
    }

    .work-ref:after {
        background: url("../img/case-icon.png") no-repeat center;
    }
}

.bars {
    width: 40px;
    height: 22px;
    background: url("../img/bars.png") no-repeat center;
    background-size: contain;
    margin-right: 38px;
}

.bars.active {
    background: url("../img/close-red.png") no-repeat center;
}
@media(max-width: 1279px) {
    .header__bottom,
    .header__info li:last-child,
    .license {
        display: none;
    }
}

.burger {
    border-radius: 4px;
    border: 2px solid rgba(179, 204, 248, 0.4);
    width: 45px;
    height: 41px;
    background: url("../img/burger.png") no-repeat center;
    margin-right: 15px;
    @media(min-width: 1280px) {
        display: none;
    }
}

.burger.active {
    background: url("../img/close.png") no-repeat center;
}

.mobile-menu {
    position: absolute;
    top: 115px;
    z-index: 10;
    max-width: 700px;
    width: 100%;
    background: #4073CE;
    padding: 12px 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
    @media(max-width: 991px) {
        top: 82px;
    }
}

.mobile-menu__title {
    font-family: "TTNorms-Bold";
    color: white;
    margin-bottom: 18px;
}

.mobile-menu__list {
    li {
        margin-bottom: 30px;
    }

    a {
        font-family: "TTNorms-Bold";
        padding-bottom: 1px;
        font-size: 16px;
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #AECBFA;
        color: #AECBFA;
        margin-left: 46px;
        @media(max-width: 374px) {
            font-size: 14px;
        }

        &:after {
            content: '';
            position: absolute;
            left: -46px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            background-size: contain;
        }
    }

    .drive-ref:after {
        background: url("../img/car-m.png") no-repeat center;
    }

    .gun-ref:after {
        background: url("../img/gun-m.png") no-repeat center;
    }

    .work-ref:after {
        background: url("../img/case-m.png") no-repeat center;
    }
}

.mobile-menu__info {
    li {
        margin-bottom: 10px;
    }

    a {
        font-family: "TTNorms-Medium";
        color: #AECBFA;
        font-size: 16px;
    }
}

.btn {
    font-family: "TTNorms-Medium";
    font-size: 22px;
    background: #FB0066;
    border-radius: 5px;
    color: #FFFFFF;
}

.mobile-menu__btn-block {
    text-align: center;
}

.mobile-menu__btn {
    width: 343px;
    height: 79px;
    @media(max-width: 374px) {
        width: 300px;
    }
}

.mobile-menu__inner {
    @media(min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

.search-mobile {
    padding: 7px 15px;
    background: #122C91;
    @media(min-width: 992px) {
        display: none;
    }
}

.lisence-mobile {
    background: #3E72CF;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    @media(min-width: 375px) {
        padding: 5px 23px;
    }
    @media(min-width: 1280px) {
        display: none;
    }
}

.lisence-mobile__inner {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.lisence-mobile__top {
    display: flex;
    align-items: center;
    @media(min-width: 768px) {
        width: 50%;
    }

    span {
        font-family: "TTNorms-Medium";
        color: #AECBFA;
        font-size: 12px;
    }
}

.lisence-mobile__img {
    width: 30px;
    height: 35px;
    margin-right: 10px;
}

.lisence-mobile__list {
    font-family: "TTNorms-Medium";
    font-size: 14px;
    color: #FFFFFF;
    list-style-type: disc;
    column-count: 2;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding-left: 14px;
}

.list-dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    background: rgba(42, 111, 219, 0.9);
    padding: 22px 40px 30px;
    z-index: 10;
    display: none;
    @media(min-width: 1600px) {
        padding: 22px 100px 50px;
    }
}

.list-dropdown__title {
    font-family: "TTNorms-Bold";
    font-size: 28px;
    color: white;
    margin-bottom: 22px;
}

.list-dropdown__el {
    margin-bottom: 33px;

    li {
        &:not(:last-child) {
            margin-bottom: 33px;
        }
    }

    a {
        font-family: "TTNorms-Bold";
        font-size: 18px;
        color: #AECBFA;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid #AECBFA;
        @media(max-width: 1599px) {
            font-size: 16px;
        }

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

.list-dropdown__inner {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #4358C4;
    padding: 23px 15px;
    display: flex;
    justify-content: center;

    .footer__item {
        &:first-child {
            @media(min-width: 768px) and (max-width: 1279px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

        &:nth-child(4) {
            @media(min-width: 954px) {
                width: 50%;
            }
            @media(min-width: 1280px) {
                width: 100%;
            }
        }

        &:last-child {
            @media(min-width: 824px) {
                display: flex;
                align-items: center;
            }
            @media(min-width: 1280px) {
                width: 100%;
                justify-content: center;
                position: relative;
            }
        }
        @media(min-width: 1280px) {
            &:nth-child(2),
            &:nth-child(3) {
                padding-top: 30px;
            }
        }

        &:nth-child(2) {
            @media(min-width: 1366px) {
                width: 900px;
            }
            @media(min-width: 1600px) {
                width: 940px;
            }
        }
    }
}

.footer__title_line {
    @media(min-width: 1280px) {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 80%;
            height: 1px;
            background: rgba(133, 180, 255, 0.47);
        }
    }
    @media(min-width: 1280px) {
        &:after {
            width: 85%;
        }
    }
}

.footer__logo {
    margin-bottom: 30px;
}

.capcha {
    width: 88px;
    @media(min-width: 1280px) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.phone_footer {
    font-size: 22px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 7px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/call.png") no-repeat center;
    }
}

.adress {
    font-family: "TTNorms-Medium";
    color: white;
    font-size: 16px;
    display: inline-block;
    padding-left: 30px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/place-icon.png") no-repeat center;
    }
}

.footer__data {
    margin-bottom: 36px;
}

.footer__item {
    margin-bottom: 20px;
}

.footer__title {
    font-family: "TTNorms-Bold";
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__link {
    li {
        margin-bottom: 20px;
    }

    a {
        color: #90A2FF;

        &:hover {
            color: white;
        }
    }
}

.footer__lisence {
    position: relative;
    padding-left: 17px;
    color: #AECBFA;
    font-size: 14px;
    @media(min-width: 1280px) {
        margin-top: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 4px solid rgba(133, 180, 255, 0.5);
    }
}

.copyright {
    color: #90A2FF;
    font-size: 14px;
    margin-bottom: 45px;
    padding-top: 45px;
    @media(min-width: 824px) and (max-width: 1279px) {
        margin-right: 50px;
    }
    @media(min-width: 1280px) {
        padding: 0;
        margin: 0;
    }
}

.footer__inner {
    @media(min-width: 768px) {
        display: flex;
    }
    @media(min-width: 1366px) {
        justify-content: space-between;
    }

    .footer__link {
        @media(min-width: 768px) {
            margin-right: 25px;
        }
    }
}

.footer__block {
    @media(min-width: 768px) {
        max-width: 1604px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    @media(min-width: 1280px) {
        justify-content: space-between;
        align-items: flex-start;
    }
}

.banner-main {
    padding: 27px 16px;
    @media(min-width: 1279px) {
        padding: 27px 40px;
        background: url("../img/top-bg.jpg") no-repeat center;
        background-size: cover;
    }
    @media(min-width: 1600px) {
        padding: 27px 182px;
    }
}

.banner-main__title {
    font-family: "TTNorms-Bold";
    font-size: 58px;
    color: #3E72CF;
    line-height: 60px;
    margin-bottom: 16px;

    span {
        color: #E33269;
    }

    i {
        font-style: normal;
        font-size: 51px;
    }
    @media(max-width: 374px) {
        font-size: 22px;
        line-height: 24px;
        text-align: center;

        i {
            font-size: 18px;
        }
    }
    @media(min-width: 375px) and (max-width: 1279px) {
        line-height: 26px;
        font-size: 26px;
        text-align: center;

        i {
            font-size: 20px;
        }
    }
}

.banner-main__list {
    font-family: "TTNorms-Light";
    color: #2A6FDB;
    font-size: 32px;
    margin-bottom: 25px;
    @media(max-width: 1279px) {
        display: none;
    }

    a {
        font-family: "TTNorms-Bold";
        color: inherit;
        border-bottom: 1px solid #2A6FDB;
        display: inline-block;
        margin-right: 12px;
    }
}

.recept-form {
    max-width: 498px;
    width: 100%;
    @media(max-width: 1279px) {
        margin: 0 auto;
    }
}

.recept-form__title {
    font-family: "TTNorms-Bold";
    font-size: 32px;
    color: #FB0066;
    text-align: center;
    margin-bottom: 20px;
    @media(max-width: 1279px) {
        font-size: 22px;
    }
}

.custom-select {
    height: 67px;
    text-align: left;
    margin-bottom: 30px;
    @media(max-width: 1279px) {
        height: 52px;
        margin-bottom: 14px;
    }

    .select2-container {
        width: 100% !important;
    }

    .select2-selection--single {
        font-family: "TTNorms-Regular";
        font-size: 20px;
        height: 67px;
        border-radius: 5px;
        background: #DDE9FB url("../img/split-icon.png") no-repeat center left 28px;
        border: 2px solid rgba(179, 204, 248, 0.6);
        @media(max-width: 1279px) {
            font-size: 14px;
            height: 52px;
            background: white;
        }
    }

    .select2-dropdown {
        border: none;
    }

    .select2-selection__arrow {
        background: url("../img/expand.png") no-repeat center;

        b {
            display: none;
        }
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 21px;
        right: 27px;
        @media(max-width: 1279px) {
            top: 14px;
            right: 8px;
        }
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding-left: 75px;
        line-height: 60px;
        @media(max-width: 1279px) {
            line-height: 47px;
            padding-left: 21px;
        }
    }
}

.select2-dropdown {
    border: 1px solid #C4D8F9;
}

.select2-results__option {
    padding-left: 21px;
}

.select2-search {
    display: none;
}

.form-inp {
    width: 100%;
    height: 67px;
    border-radius: 5px;
    border: 2px solid rgba(179, 204, 248, 0.6);
    margin-bottom: 30px;
    color: #75768C;
    font-size: 20px;
    padding-left: 75px;
    @media(max-width: 1279px) {
        font-size: 14px;
        height: 52px;
        padding-left: 56px;
        margin-bottom: 14px;
    }
}

.form-inp_name {
    background: #DDE9FB url("../img/man-icon.png") no-repeat center left 28px;
    @media(max-width: 1279px) {
        background: white url("../img/man-icon.png") no-repeat center left 16px;
    }
}

.form-inp_phone {
    background: #DDE9FB url("../img/call-icon.png") no-repeat center left 28px;
    @media(max-width: 1279px) {
        background: white url("../img/call-icon.png") no-repeat center left 16px;
    }
}

.recept-form__btn {
    margin-bottom: 22px;
}

.recept-form__btn .btn {
    width: 100%;
    height: 79px;
}

.privacy {
    font-family: "TTNorms-Medium";
    color: #7884B9;
    @media(max-width: 1279px) {
        font-size: 14px;
    }

    a {
        color: inherit;
    }

    span {
        border-bottom: 1px solid #7884B9;
    }
}

.reference {
    padding-top: 27px;
    margin-bottom: 70px;
    @media(max-width: 1279px) {
        margin-bottom: 30px;
    }
}

.ref-slider__item {
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
}

.ref-slider__img {
    position: relative;
    margin-bottom: 16px;
}

.time-block {
    position: absolute;
    left: 24px;
    top: 24px;
    width: 76px;
    height: 76px;
    border-radius: 10em;
    font-family: "TTNorms-Bold";
    background: #07D893;
    color: white;
    text-align: center;
    line-height: 23px;

    &__item {
        &:first-child {
            font-size: 18px;
        }

        &:nth-child(2) {
            font-size: 36px;
        }

        &:last-child {
            font-size: 18px;
        }
    }
}

.ref-slider__link {
    margin-bottom: 26px;

    a {
        font-family: "TTNorms-Bold";
        font-size: 20px;
        color: #122C91;
        border-bottom: 1px solid #122C91;
        display: inline-block;
        padding-bottom: 1px;
        @media(max-width: 374px) {
            font-size: 16px;
        }
        @media(min-width: 375px) and (max-width: 1599px) {
            font-size: 18px;
        }
    }
}

.ref-slider__title {
    font-family: "TTNorms-Bold";
    color: #8895C7;
    margin-bottom: 13px;
}

.ref-slider__list {
    font-family: "TTNorms-Medium";
    color: #8895C7;
    font-size: 16px;

    li {
        margin-bottom: 7px;
    }
}

.ref-slider__price {
    font-family: "TTNorms-Bold";
    font-size: 24px;
    color: #FB0066;

    span {
        font-family: "TTNorms-Regular";
        font-size: 18px;
    }
}

.ref-slider__bottom {
    text-align: center;
    padding-top: 15px;
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}

.cont-btn {
    background: #FFDD2D;
    border-radius: 5px;
    padding: 0 34px;
    height: 52px;
}

.slider-wrap {
    position: relative;
}

.ref-next,
.ref-prev {
    width: 40px;
    height: 40px;
    @media(max-width: 1799px) {
        width: 56px;
        height: 56px;
        border-radius: 10em;
    }
}

.ref-next {
    right: -60px;
    background: url("../img/next.png") no-repeat center;
    @media(max-width: 1799px) {
        background: rgba(179, 204, 248, 0.8) url("../img/next-w.png") no-repeat center;
        right: 0;
    }
}

.ref-prev {
    left: -60px;
    background: url("../img/prev.png") no-repeat center;
    @media(max-width: 1799px) {
        background: rgba(179, 204, 248, 0.8) url("../img/prev-w.png") no-repeat center;
        left: 0;
    }
}

.ref-slider {
    padding-top: 30px;
    padding-bottom: 40px;

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #AEBDD8;
        border-radius: 10em;
    }

    .swiper-pagination-bullet-active {
        width: 20px;
        height: 10px;
        background: #2A6FDB;
        border-radius: 10px;
    }
}

.rent {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
    }

    .rent__item {
        &:first-child {
            display: none;
            @media(min-width: 1600px) {
                display: block;
                text-align: center;
                padding-top: 84px;
                width: 39%;
            }
            @media(min-width: 1900px) {
                padding-top: 240px;
            }
        }

        &:nth-child(2) {
            @media(min-width: 768px) {
                width: 46%;
            }
            @media(min-width: 1600px) {
                width: 30.55%;
            }
            @media(min-width: 1900px) {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    right: -150px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 505px;
                    height: 505px;
                    border-radius: 100%;
                    border: 2px dashed #DADADA;
                    z-index: -1;
                }
            }
        }

        &:nth-child(3) {
            @media(max-width: 767px) {
                order: -1;
            }
            @media(min-width: 768px) {
                width: 46%;
            }
            @media(min-width: 1600px) {
                width: 30.55%;
            }
        }
    }
}

.rent-iphone {
    position: relative;
    padding: 23px 0 0;
    @media(max-width: 767px) {
        border-top: 2px solid #DADADA;
        border-bottom: 2px solid #DADADA;
    }
    @media(min-width: 1280px) {
        width: 503px;
        height: 907px;
        margin: 0 auto;
        background: url("../img/iphone.png") no-repeat center;
        background-size: contain;
        padding: 160px 90px;

        &:after {
            content: '';
            position: absolute;
            width: 140px;
            height: 8px;
            bottom: 110px;
            left: 50%;
            transform: translateX(-50%);
            background: #C4C4C4;
            border-radius: 5px;
        }
    }

    li {
        font-family: "TTNorms-Bold";
        margin-bottom: 25px;

        &:nth-child(odd) {
            padding-left: 25px;

            .rent-iphone__item {
                color: white;
                background: #376DCD;
                border-radius: 20px 20px 0 20px;
                padding: 17px 10px 17px 38px;
            }

            .rent-iphone__author {
                text-align: right;
            }
        }

        &:nth-child(even) {
            padding-right: 25px;

            .rent-iphone__item {
                color: #233142;
                background: #CDE6EA;
                border-radius: 20px 20px 20px 0;
                padding: 17px 10px 17px 21px;
            }
        }
    }
}

.rent-stage__title {
    font-family: "TTNorms-Medium";
    color: #233142;
    font-size: 18px;
    padding-left: 80px;
    @media(max-width: 1279px) {
        font-size: 17px;
    }
    @media(min-width: 1280px) {
        padding-left: 0;
        font-size: 24px;
    }
}

.rent-stage {
    counter-reset: num;
    padding-top: 50px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 32px;
        top: 65px;
        height: 400px;
        width: 1px;
        background: url("../img/border.png") repeat-y center;
        z-index: -1;
        @media(min-width: 375px) {
            height: 324px;
        }
        @media(min-width: 1280px) {
            height: 310px;
        }
        @media(min-width: 1900px) {
            display: none;
        }
    }
    @media(min-width: 1280px) {
        margin-right: 50px;
    }
    @media(min-width: 1900px) {
        padding-top: 200px;
    }

    li {
        margin-bottom: 35px;
        position: relative;
        @media(min-width: 1280px) {
            margin-bottom: 25px;
            padding-left: 104px;
        }
        @media(min-width: 1900px) {
            &:nth-child(2) {
                margin-left: 110px;
                margin-top: 40px;
            }

            &:nth-child(3) {
                margin-top: 80px;
                margin-left: 110px;
                margin-bottom: 5px;
            }
        }

        &:before {
            content: '' counter(num);
            counter-increment: num;
            position: absolute;
            left: 0;
            top: 4px;
            background: #CDE6EA;
            width: 64px;
            height: 64px;
            font-size: 40px;
            color: #376DCD;
            font-family: "TTNorms-Bold";
            border-radius: 10em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    span {
        font-family: "TTNorms-Regular";
        font-size: 18px;
        color: #6D7286;
        display: inline-block;
        padding-left: 80px;
        line-height: 25px;
        @media(max-width: 1279px) {
            font-size: 15px;
            line-height: 20px;
        }
        @media(min-width: 1280px) {
            padding-left: 0;
        }
    }
}

.rent-stage__data {
    text-align: center;
    @media(min-width: 1900px) {
        text-align: left;
    }
}

.rent-stage__phone {
    display: inline-block;
    margin: 4px 0;
    font-family: "TTNorms-Bold";
    color: #376DCD;
    font-size: 28px;
}

.rent-stage__worktime {
    font-family: "TTNorms-Bold";
    font-size: 16px;
    color: #376DCD;
    margin-bottom: 20px;
}

.advantages__article {
    font-family: "TTNorms-Medium";
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
    color: #E05404;
    @media(min-width: 992px) {
        max-width: 1192px;
        width: 100%;
        margin: 0 auto;
        color: white;
        font-size: 23px;
        padding: 8px 15px;
        background: #E05404;
        border-radius: 4px;
        margin-bottom: 40px;
    }
}

.rent-iphone__author {
    font-family: "TTNorms-Light";
    text-transform: uppercase;
    color: #B3CCF8;
    padding-top: 6px;
    color: #B3CCF8;
}

.rent__block {
    p {
        font-family: "TTNorms-Bold";
        color: #122C91;
        font-size: 42px;
        margin-bottom: 23px;
        line-height: 50px;
    }

    span {
        font-size: 24px;
        color: #233142;
        display: inline-block;
        margin-bottom: 42px;

        i {
            font-family: "TTNorms-Medium";
            color: #FB0565;
            font-size: 26px;
            font-style: normal;
        }
    }
    @media(min-width: 1900px) {
        width: 332px;
    }
}

.rent__ref {
    @media(min-width: 1900px) {
        display: flex;
        text-align: left;
    }
}

.rent__img {
    @media(min-width: 1900px) {
        width: 254px;
        margin-right: 55px;
        margin-left: 70px;
    }
}

.price-table {
    width: 100%;
    margin-bottom: 30px;
    @media(min-width: 1280px) {
        margin-bottom: 75px;
    }

    thead {
        font-family: "TTNorms-Medium";
        background: #3E72CF;
        font-size: 16px;
        color: white;
        height: 44px;

        tr {
            td {
                &:first-child {
                    padding-left: 68px;
                    @media(max-width: 991px){
                        padding-left: 15px;
                    }
                }

                &:not(:first-child) {
                    text-align: center;
                }

                &:last-child {
                    width: 270px;
                }

                &:not(:first-child) {
                    @media(max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    }

    .thead-mob {
        @media(min-width: 992px) {
            display: none;
        }
    }

    .thead-desc {
        @media(max-width: 991px) {
            display: none;
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    &:first-child,
                    &:last-child {
                        position: relative;

                        &:after {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 4px;
                            background: #FFDD2D;
                            top: 0;
                        }
                    }

                    &:first-child:after {
                        left: 0;
                    }

                    &:last-child:after {
                        right: 0;
                    }

                    .cont-btn {
                        visibility: visible;
                    }
                    color: #FF6633;

                    a {
                        color: inherit;
                        border-bottom: 1px solid #FF6633;
                    }
                }
            }

            td {
                font-family: "TTNorms-Medium";
                color: #6D7286;

                &:first-child {
                    padding-left: 68px;
                    @media(max-width: 991px){
                        padding-left: 15px;
                    }
                }

                &:not(:first-child) {
                    text-align: center;
                }

                &:nth-child(3),
                &:nth-child(4) {
                    @media(max-width: 991px) {
                        display: none;
                    }
                }

                a {
                    display: inline-block;
                    font-size: 18px;
                    padding-bottom: 1px;
                    border-bottom: 1px solid #6D7286;
                    @media(max-width: 767px){
                        font-size: 12px;
                        margin: 5px 0px;
                    }

                    &:hover {
                        border-bottom: 1px solid transparent;
                    }
                }

                .cont-btn {
                    visibility: hidden;
                    font-family: "TTNorms-Regular";
                }
            }
        }
    }
}
