@import "import/reset";
@import "import/fonts";

.content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    @media(max-width: 1279px) {
        background: #2A6FDB;
        padding: 6px 16px;
    }
}

.header__left {
    display: flex;
    align-items: center;
    @media(min-width: 992px) and (max-width: 1279px) {
        width: 100%;
    }
    @media(min-width: 1280px) {
        max-width: 1344px;
        width: 100%;
        background: #1F48AE;
        padding: 18px 24px 24px;
        justify-content: space-between;
        position: relative;
    }
    @media(min-width: 1600px) {
        &:after {
            content: '';
            position: absolute;
            right: -31px;
            top: 0;
            width: 32px;
            height: 100%;
            background: url("../img/el-bg.png") no-repeat center;
            background-size: contain;
        }
    }
}

.license {
    display: flex;
}

.license__img {
    width: 90px;
    margin-right: 13px;
}

.license__article {
    font-family: "TTNorms-Medium";
    width: 147px;
    font-size: 14px;
    color: #AECBFA;
    line-height: 19px;
}

.main-nav__list {
    display: flex;
    justify-content: center;
    margin-bottom: 23px;

    li {
        &:not(:last-child) {
            margin-right: 50px;
            @media(max-width: 1599px) {
                margin-right: 20px;
            }
            @media(min-width: 1600px) and (max-width: 1900px) {
                margin-right: 30px;
            }
        }
    }

    a {
        font-family: "TTNorms-Medium";
        font-size: 16px;
        color: #AECBFA;
        display: inline-block;
        padding-bottom: 3px;
        border-bottom: 1px solid transparent;
        @media(min-width: 1366px) and (max-width: 1844px) {
            font-size: 13px;
        }

        &:hover {
            border-bottom: 1px solid rgba(133, 180, 255, 0.47);
        }
    }
}

.header__search {
    max-width: 792px;
    width: 100%;
    @media(max-width: 991px) {
        display: none;
    }
    @media(max-width: 1279px) {
        padding-left: 50px;
    }
    @media(min-width: 1280px) and (max-width: 1365px) {
        max-width: 530px;
    }
    @media(min-width: 1366px) and (max-width: 1599px) {
        max-width: 430px;
    }
    @media(min-width: 1600px) and (max-width: 1845px) {
        max-width: 524px;
    }
}

.search {
    font-family: "TTNorms-Medium";
    width: 100%;
    height: 52px;
    padding-left: 23px;
    padding-right: 55px;
    border: none;
    background: rgba(133, 180, 255, 0.47) url("../img/search-icon.png") no-repeat right 28px center;
    border-radius: 5px;
    color: #AECBFA;
    font-size: 20px;
}

.header__right {
    display: flex;
    align-items: center;
    @media(min-width: 1280px) {
        max-width: 576px;
        width: 100%;
        background: #2A6FDB;
        padding: 0 24px 0 60px;
        justify-content: space-between;
    }
    @media(min-width: 1280px) and (max-width: 1365px) {
        max-width: 240px;
        padding: 24px 10px;
        justify-content: center;
    }
    @media(min-width: 1366px) and (max-width: 1599px) {
        max-width: 430px;
        align-items: center;
        padding: 0 24px;
    }
}

.adress-list {
    font-family: "TTNorms-Medium";
    color: white;
    font-size: 16px;
    position: relative;
    @media(min-width: 1600px) {
        padding: 21px 0 21px 17px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 29px;
            height: 100%;
            background: url("../img/line.png") no-repeat center;
            z-index: 1;
        }
    }

    li {
        position: relative;
        padding-left: 24px;
        @media(min-width: 1600px) {
            &:nth-child(1) {
                margin-left: 2px;
            }

            &:nth-child(2) {
                margin-left: 7px;
            }

            &:nth-child(3) {
                margin-left: 6px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 9px;
            width: 8px;
            height: 8px;
            background: white;
            z-index: 10;
            border-radius: 10em;
        }

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

.adress-list__footer {
    padding: 21px 0 21px 17px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 29px;
        height: 100%;
        background: url("../img/line.png") no-repeat center;
        z-index: 1;
    }

    li {
        &:nth-child(1) {
            margin-left: 2px;
        }

        &:nth-child(2) {
            margin-left: 7px;
        }

        &:nth-child(3) {
            margin-left: 6px;
        }
    }
}

.adress-list_header {
    @media(max-width: 1365px) {
        display: none;
    }
}

.phone {
    font-family: "TTNorms-Bold";
    font-size: 28px;
    color: white;
    @media(max-width: 1279px) {
        font-size: 16px;
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        font-size: 20px;
    }
}

.header__logo {
    width: 80px;

    img {
        display: block;
    }
    @media(min-width: 375px) {
        width: 126px;
    }
    @media(min-width: 1280px) {
        width: 145px;
    }
}

.header__info {
    font-family: "TTNorms-Medium";
    @media(max-width: 1279px) {
        text-align: right;
        line-height: 18px;
    }
    @media(min-width: 1600px) {
        padding-top: 6px;
    }

    span {
        color: #AECBFA;
    }

    li {
        &:nth-child(2) {
            @media(min-width: 1280px) {
                margin-bottom: 8px;
            }

            span {
                font-family: "TTNorms-Bold";
                font-size: 15px;
                text-transform: uppercase;
                @media(max-width: 1599px) {
                    font-size: 12px;
                }
            }
        }

        &:last-child {
            font-size: 16px;
        }
    }
}

.header__bottom {
    background: #DEEBFF;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.services-list {
    max-width: 1688px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    a {
        font-family: "TTNorms-Bold";
        color: #122C91;
        display: inline-block;
        font-size: 18px;
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
        @media(min-width: 1600px) {
            margin-left: 50px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
            }
        }

        &:hover {
            border-bottom: 1px solid rgba(42, 111, 219, 0.6);
        }
    }
}
@media(min-width: 1600px) {
    .drive-ref:after {
        background: url("../img/car-icon.png") no-repeat center;
    }

    .gun-ref:after {
        background: url("../img/gun-icon.png") no-repeat center;
    }

    .work-ref:after {
        background: url("../img/case-icon.png") no-repeat center;
    }
}

.bars {
    width: 40px;
    height: 22px;
    background: url("../img/bars.png") no-repeat center;
    background-size: contain;
    margin-right: 38px;
}

.bars.active {
    background: url("../img/close-red.png") no-repeat center;
}
@media(max-width: 1279px) {
    .header__bottom,
    .header__info li:last-child,
    .license {
        display: none;
    }
}

.burger {
    border-radius: 4px;
    border: 2px solid rgba(179, 204, 248, 0.4);
    width: 45px;
    height: 41px;
    background: url("../img/burger.png") no-repeat center;
    margin-right: 15px;
    @media(min-width: 1280px) {
        display: none;
    }
}

.burger.active {
    background: url("../img/close.png") no-repeat center;
}

.mobile-menu {
    position: absolute;
    top: 115px;
    z-index: 10;
    max-width: 700px;
    width: 100%;
    background: #4073CE;
    padding: 12px 17px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: none;
    @media(max-width: 991px) {
        top: 82px;
    }
}

.mobile-menu__title {
    font-family: "TTNorms-Bold";
    color: white;
    margin-bottom: 18px;
}

.mobile-menu__list {
    li {
        margin-bottom: 30px;
    }

    a {
        font-family: "TTNorms-Bold";
        padding-bottom: 1px;
        font-size: 16px;
        position: relative;
        display: inline-block;
        border-bottom: 1px solid #AECBFA;
        color: #AECBFA;
        margin-left: 46px;
        @media(max-width: 374px) {
            font-size: 14px;
        }

        &:after {
            content: '';
            position: absolute;
            left: -46px;
            top: 50%;
            transform: translateY(-50%);
            width: 32px;
            height: 32px;
            background-size: contain;
        }
    }

    .drive-ref:after {
        background: url("../img/car-m.png") no-repeat center;
    }

    .gun-ref:after {
        background: url("../img/gun-m.png") no-repeat center;
    }

    .work-ref:after {
        background: url("../img/case-m.png") no-repeat center;
    }
}

.mobile-menu__info {
    li {
        margin-bottom: 10px;
    }

    a {
        font-family: "TTNorms-Medium";
        color: #AECBFA;
        font-size: 16px;
    }
}

.btn {
    font-family: "TTNorms-Medium";
    font-size: 22px;
    background: #FB0066;
    border-radius: 5px;
    color: #FFFFFF;
}

.mobile-menu__btn-block {
    text-align: center;
}

.mobile-menu__btn {
    width: 343px;
    height: 79px;
    @media(max-width: 374px) {
        width: 300px;
    }
}

.mobile-menu__inner {
    @media(min-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

.search-mobile {
    padding: 7px 15px;
    background: #122C91;
    @media(min-width: 992px) {
        display: none;
    }
}

.lisence-mobile {
    background: #3E72CF;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    @media(min-width: 375px) {
        padding: 5px 23px;
    }
    @media(min-width: 1280px) {
        display: none;
    }
}

.lisence-mobile__inner {
    @media(min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}

.lisence-mobile__top {
    display: flex;
    align-items: center;
    @media(min-width: 768px) {
        width: 50%;
    }

    span {
        font-family: "TTNorms-Medium";
        color: #AECBFA;
        font-size: 12px;
    }
}

.lisence-mobile__img {
    width: 30px;
    height: 35px;
    margin-right: 10px;
}

.lisence-mobile__list {
    font-family: "TTNorms-Medium";
    font-size: 14px;
    color: #FFFFFF;
    list-style-type: disc;
    column-count: 2;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    padding-left: 14px;
}

.list-dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    background: rgba(42, 111, 219, 0.9);
    padding: 22px 40px 30px;
    z-index: 10;
    display: none;
    @media(min-width: 1600px) {
        padding: 22px 100px 50px;
    }
}

.list-dropdown__title {
    font-family: "TTNorms-Bold";
    font-size: 28px;
    color: white;
    margin-bottom: 22px;
}

.list-dropdown__el {
    margin-bottom: 33px;

    li {
        &:not(:last-child) {
            margin-bottom: 33px;
        }
    }

    a {
        font-family: "TTNorms-Bold";
        font-size: 18px;
        color: #AECBFA;
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid #AECBFA;
        @media(max-width: 1599px) {
            font-size: 16px;
        }

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }
}

.list-dropdown__inner {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #4358C4;
    padding: 23px 15px;
    display: flex;
    justify-content: center;

    .footer__item {
        &:first-child {
            @media(min-width: 768px) and (max-width: 1279px) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

        &:nth-child(4) {
            @media(min-width: 954px) {
                width: 50%;
            }
            @media(min-width: 1280px) {
                width: 100%;
            }
        }

        &:last-child {
            @media(min-width: 824px) {
                display: flex;
                align-items: center;
            }
            @media(min-width: 1280px) {
                width: 100%;
                justify-content: center;
                position: relative;
            }
        }
        @media(min-width: 1280px) {
            &:nth-child(2),
            &:nth-child(3) {
                padding-top: 30px;
            }
        }

        &:nth-child(2) {
            @media(min-width: 1366px) {
                width: 900px;
            }
            @media(min-width: 1600px) {
                width: 940px;
            }
        }
    }
}

.footer__title_line {
    @media(min-width: 1280px) {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 80%;
            height: 1px;
            background: rgba(133, 180, 255, 0.47);
        }
    }
    @media(min-width: 1280px) {
        &:after {
            width: 85%;
        }
    }
}

.footer__logo {
    margin-bottom: 30px;
}

.capcha {
    width: 88px;
    @media(min-width: 1280px) {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.phone_footer {
    font-size: 22px;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 7px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/call.png") no-repeat center;
    }
}

.adress {
    font-family: "TTNorms-Medium";
    color: white;
    font-size: 16px;
    display: inline-block;
    padding-left: 30px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url("../img/place-icon.png") no-repeat center;
    }
}

.footer__data {
    margin-bottom: 36px;
}

.footer__item {
    margin-bottom: 20px;
}

.footer__title {
    font-family: "TTNorms-Bold";
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__link {
    li {
        margin-bottom: 20px;
    }

    a {
        color: #90A2FF;

        &:hover {
            color: white;
        }
    }
}

.footer__lisence {
    position: relative;
    padding-left: 17px;
    color: #AECBFA;
    font-size: 14px;
    @media(min-width: 1280px) {
        margin-top: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 4px solid rgba(133, 180, 255, 0.5);
    }
}

.copyright {
    color: #90A2FF;
    font-size: 14px;
    margin-bottom: 45px;
    padding-top: 45px;
    @media(min-width: 824px) and (max-width: 1279px) {
        margin-right: 50px;
    }
    @media(min-width: 1280px) {
        padding: 0;
        margin: 0;
    }
}

.footer__inner {
    @media(min-width: 768px) {
        display: flex;
    }
    @media(min-width: 1366px) {
        justify-content: space-between;
    }

    .footer__link {
        @media(min-width: 768px) {
            margin-right: 25px;
        }
    }
}

.footer__block {
    @media(min-width: 768px) {
        max-width: 1604px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
    }
    @media(min-width: 1280px) {
        justify-content: space-between;
        align-items: flex-start;
    }
}
